---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
    <p>
        This is a community of people who love K-On! Of course, your website does not have to be themed around K-On,
but it should at least have something about it on the site.
    </p>

    <h2>How to join</h2>
    <p>
        Complete this form. The admins will then check it fits with the guidelines, and you will be e-mailed the results!
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
